<editUpdates>
    <form action="changeUpdates" name="changeUpdates" class="inputText" method="POST" id="changeUpdates">
    {{#each updates}}
        <input type="text" name="updates[{{@index}}][title]" maxlength="100" size="101" value="{{this.title}}">
        <br>
        <textarea name="updates[{{@index}}][updateText]" cols="76" rows="10">{{this.update_text}}</textarea>
        <input type="hidden" name="updates[{{@index}}][id]" value={{this.id}}>
    <hr>
    {{/each}}
        <button type="submit" form="changeUpdates">Submit</button>
    </form>
</editUpdates>